.featured {
  height: 90vh;
  position: relative;
}
.featured .bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
}

.featured .info {
  width: 75%;
  position: absolute;
  left: 90px;
  bottom: 50px;
  color: white;
  display: flex;
  flex-direction: column;
}

.featured .info .poster {
  height: inherit;
  width: 100%;
  left: 50px;
  bottom: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(5px 10px 4px gray);
}
.featured .info h1 {
  font-size: 40px;
  font-size: 2em;
  filter: drop-shadow(1px 5px 4px black);
}
/* .featured .info img {
  height: 360px;
  width: 300px;
} */
.featured .info .desc {
  margin: 20px 0px;
  filter: drop-shadow(1px 6px 6px black);
}
.featured .info .buttons {
  display: flex;
}
.featured .info .buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  margin-right: 10px;
  cursor: pointer;
}
.featured .info .buttons button.play {
  background-color: white;
  color: #c62828;
}
.featured .info .buttons button.info {
  background-color: gray;
  color: white;
}
.featured .info .buttons button span {
  margin-left: 5px;
}

.showmore{
  color: orange;
}
